html,
body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



#UI {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  left: 5%;
  height: 100%;
  pointer-events: none;
}

#Enemy {
  position: relative;
  color: white;
  position: absolute;
  font-size: 2vh;
  top: 5%;
}

#Health {
  position: relative;
  color: white;
  font-size: 3vh;
  top: 90%;
  background-color: rgba(121, 121, 121, 0.5);
}

dialog {
  text-align: center;
}

canvas.fullscreen {
  width: 100vw;
  height: 100vh;
}